@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    box-sizing: border-box;
  }

  body {
    font-family: ui-sans-serif, system-ui, -apple-system, sans-serif;
    -webkit-font-smoothing: antialiased;
  }
}

#print-root {
  display: none;
}

@media print {
  #root {
    display: none !important;
  }

  #print-root {
    display: block !important;
  }

  @page {
    margin: 8mm 4mm;
    size: 80mm auto;
  }
}
